<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {{ blog.title }}</title>

    {{ meta | safe }}


    <script type="application/ld+json">
        {{ blogJSONLD | safe }}
    </script>


    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons.ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/icons.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">



    <!--Inter UI font-->
    <!-- <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet"> -->

    <!--vendors styles-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="/assets/css/default.css" id="theme-color">
</head>

<body>

    <!--navigation-->
    <section class="smart-scroll">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand heading-black" href="/">
                    Bulkwa
                </a>
                <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span data-feather="grid"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a target="_blank" href="https://app.bulkwa.in"
                                class="nav-link page-scroll d-flex flex-row align-items-center text-primary" href="#">
                                <em data-feather="layout" width="18" height="18" class="mr-2"></em>
                                Get Started
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <!--hero header-->
    <section class="py-7 py-md-0 bg-hero" id="home">
        <div class="container">
            <div class="row vh-md-100">
                <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                    <h1 class="heading-black text-capitalize">{{ blog.title }}</h1>
                    <p class="lead py-3">Bulkwa is a simple Whatsapp Automater and bulk Whastapp message sender which
                        helps you
                        to manage multiple whatsapp gorup communities.</p>
                    <a href="https://app.bulkwa.in" target="_blank">

                        <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                            Get started now
                            <em class="ml-2" data-feather="arrow-right"></em>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- features section -->
    <section class="pt-6 pb-7" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">Bulkwa offers everything you need.</h2>
                    <!-- <p class="text-muted lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in nisi
            commodo, tempus odio a, vestibulum nibh.</p> -->
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row feature-boxes">
                        <div class="col-md-6 box">
                            <div class="icon-box box-primary">
                                <div class="icon-box-inner">
                                    <span data-feather="edit-3" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Automate your Whatsapp messages</h5>
                            <p class="text-muted">With Bulkwa, you can automate your Whatsapp messages so that you can
                                focus on other
                                tasks. This app can help you save time by sending messages automatically.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-success">
                                <div class="icon-box-inner">
                                    <span data-feather="monitor" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Send bulk Whatsapp messages</h5>
                            <p class="text-muted">Bulkwa allows you to send bulk Whatsapp messages to a group of people
                                at once. This
                                can be useful for businesses or individuals who need to send a lot of messages at once.
                            </p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-danger">
                                <div class="icon-box-inner">
                                    <span data-feather="layout" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Manage multiple Whatsapp groups</h5>
                            <p class="text-muted">Bulkwa is a tool that allows users to manage multiple Whatsapp groups
                                at the same
                                time. It provides users with an easy way to keep track of conversations and messages, as
                                well as
                                managing group members and permissions.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-info">
                                <div class="icon-box-inner">
                                    <span data-feather="globe" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Easy to use and user friendly interface</h5>
                            <p class="text-muted">The fpoint bulk wa software is designed to make it easy for users to
                                interface with
                                the software. The software provides a user friendly interface that is easy to use and
                                navigate.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row mt-6">
        <div class="col-md-6 mr-auto">
          <h2>Bulkwa is more than just a page builder.</h2>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum.
            Donec eleifend, sem sed dictum mattis, turpis purus placerat eros.</p>
          <a href="#" class="btn btn-light">
            Try the live demo
          </a>
        </div>
        <div class="col-md-5">
          <div class="slick-about">
            <img src="img/blog-1.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 1" />
            <img src="img/blog-2.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 2" />
            <img src="img/blog-3.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 3" />
          </div>
        </div>
      </div> -->
        </div>
    </section>

    <!--pricing section-->
    <section class="py-7 bg-dark section-angle top-right bottom-right" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="text-white heading-black">Choose your pricing plan.</h2>
                    <p class="text-light lead">For custom requirements click <a target="_blank"
                            href="https://wa.me/8770564800">here</a></p>
                </div>
            </div>
            <!--pricing tables-->
            <div class="row pt-5 pricing-table">
                <div class="col-12 mx-auto">
                    <div class="card-deck pricing-table">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title pt-3">Personal</h3>
                                <h2 class="card-title text-primary mb-0 pt-4">Free</h2>
                                <!-- <div class="text-muted font-weight-medium mt-2">per month</div> -->
                                <ul class="list-unstyled pricing-list">
                                    <li>1 session</li>
                                    <li>Contact Message</li>
                                    <li>Group Message</li>
                                    <li>No support</li>
                                </ul>
                                <a target="_blank" href="https://app.bulkwa.in" class="btn btn-primary">
                                    Start free trial
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title pt-3">News Agency</h3>
                                <h2 class="card-title text-info mb-0 pt-4">2500 ₹</h2>
                                <div class="text-muted font-weight-medium mt-2">per month</div>
                                <ul class="list-unstyled pricing-list">
                                    <li>1 session</li>
                                    <li>Contact Message</li>
                                    <li>Group Message</li>
                                    <li>Link preview Message</li>
                                </ul>
                                <a target="_blank"
                                    href="https://wa.me/8770564800?text=hey I am loooking for News agency requiement with Bulkwa"
                                    class="btn btn-info">
                                    Start free trial
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title pt-3">Enterprise</h3>
                                <h2 class="card-title text-primary mb-0 pt-4">Custom</h2>
                                <div class="text-muted font-weight-medium mt-2">per month</div>
                                <ul class="list-unstyled pricing-list">
                                    <li>multiple session</li>
                                    <li>Contact Message</li>
                                    <li>Group Message</li>
                                    <li>Link preview Message</li>
                                </ul>
                                <a target="_blank"
                                    href="https://wa.me/8770564800?text=hey I am loooking for custom requiement with Bulkwa"
                                    class="btn btn-primary">
                                    Start free trial
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row mt-6">
        <div class="col-md-4 mr-auto">
          <h3>Everything is covered.</h3>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in nisi commodo, tempus odio a,
            vestibulum nibh.
          </p>
        </div>
        <div class="col-md-7 offset-md-1">
          <ul class="features-list">
            <li>Weekly new templates</li>
            <li>Access to new features</li>
            <li>MailChimp integration</li>
            <li>Stripe integration</li>
            <li>100 refund guarantee</li>
            <li>Advance SEO tools</li>
            <li>Free unlimited support</li>
          </ul>
        </div>
      </div> -->
            <!-- <div class="row mt-5">
        <div class="col-md-8 col-12 divider top-divider mx-auto pt-5 text-center">
          <h3>Try Bulkwa free for 7 days</h3>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in nisi commodo,
            tempus odio a, vestibulum nibh.</p>
          <button class="btn btn-primary">
            Create your account
          </button>
        </div>
      </div> -->
        </div>
    </section>

    <!--faq section-->
    <section class="py-7" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2>Frequently asked questions</h2>
                    <p class="text-muted lead">Answers to most common questions.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h6>How bulkwa really works?</h6>
                            <p class="text-muted">So what it actually does is send the message to web whatsapp and
                                healdessly run the
                                script in cloud.You just need to give the message and contact list to the app and it
                                will work in the
                                background.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6>How to use bulkwa?</h6>
                            <p class="text-muted">Just create a account in bulkwa website then login with your phone
                                number , then you
                                will get a QR code just scan that in your whatsapp then your web whatsapp will be
                                running in cloud and
                                you will get all the features of web whatsapp in bulkwa like creating group , sending
                                messages , view
                                messages , etc.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6>What are the payment methods you accept?</h6>
                            <p class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper
                                per tem por
                                legere me doming.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6>What are the chances of getting blocked by WhatsApp?</h6>
                            <p class="text-muted">
                                It is impossible to say for sure whether or not WhatsApp will block a user, as it
                                depends on a number of
                                factors including how the service is used. However, Bulkwa does not take any
                                responsibility for users
                                who may be blocked by WhatsApp as a result of using the service. </p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6>What is your refund policy?</h6>
                            <p class="text-muted">We offer a refund for Bulkwa if WhatsApp is blocked. We only charge
                                for the amount
                                of service that has been used.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h6>How can I contact you?</h6>
                            <p class="text-muted">You can reach to us by dialling 918770564800 or by email to
                                publicdrop.connect@gmail.com.
                                .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mx-auto text-center">
                    <h5 class="mb-4">Have questions?</h5>
                    <a target="_blank" href="https://wa.me/8770564800?text=hey I want to connect with Bulkwa"
                        class="btn btn-primary">Contact us</a>
                </div>
            </div>
        </div>
    </section>

    <!--news section-->
    <section class="py-7 bg-dark section-angle top-left bottom-left" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">News from Bulkwa.</h2>
                    <p class="text-muted lead">What's new at Bulkwa.</p>
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-md-6 mx-auto text-center">
                    <a href="/blogs" class="btn btn-primary">View all posts</a>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 mr-auto">
                    <h5>About Bulkwa</h5>
                    <p class="text-muted">Bulkwa.in is a simple Whatsapp Automater and bulk Whastapp message sender
                        which helps
                        you to manage multiple whatsapp gorup communities.</p>
                    <ul class="list-inline social social-sm">
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Legal</h5>
                    <ul class="list-unstyled">
                        <li><a href="/privacypolicy.html">Privacy</a></li>
                        <li><a href="/termsofservice.html">Terms</a></li>
                    </ul>
                </div>
                <!-- <div class="col-sm-2">
          <h5>Partner</h5>
          <ul class="list-unstyled">
            <li><a href="#">Refer a friend</a></li>
            <li><a href="#">Affiliates</a></li>
          </ul>
        </div> -->
                <div class="col-sm-2">
                    <h5>Help</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Support</a></li>
                        <!-- <li><a href="#">Log in</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-muted text-center small-xl">
                    &copy; 2019 Bulkwa - All Rights Reserved
                </div>
            </div>
        </div>
    </footer>

    <!--scroll to top-->
    <div class="scroll-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script> -->
    <script src="/assets/js/scripts.js"></script>
</body>

</html>